html,body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.web-body{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #212121;
    margin: 10%;
    padding: 2rem;
    border-radius: 0.5rem;
}

.my-h1{
    color: white;
    background-color: gray;
    align-content: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

#web-head{
    text-align: center;
}

.my-wrap{
    color: white;
    background-color:darkgray;
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
}

#enter-pic{
    text-align: center;
    margin: 10%;
    background-color: #424242;
    width: 80%;
}

#enter-pic:hover{
    color: #827717;
}

.my-wrap{
    display: flex;
    flex-direction: column;
}

#main-containner{
    display: none;
}

#main-wrap{
    display: flex;
}