html,body{
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    background-color: black;
}

#name-card{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.form-content{
    color: white;
}

.form-button{
    display: flex;
    justify-content: space-between;
}

.name-crad-btn{
    color: white;
    background-color: darkblue;
}