
html,body{
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    background-color: black;
}

#main{
    border: solid darkslategray;
    color: white;
    height: 25.8rem;
}

#display-div{
    background-color: dimgray;
    color: whitesmoke;
    font-size: 2rem;
    width: 17.4rem;
    margin: 0.1rem;
    text-align: right;
}

#input-result{
    font-size: 1.5rem;
    word-wrap: break-word;
}

.result{
    width: 17rem;
}

#input-div{
    color: whitesmoke;
    /*font-size: 2rem;*/
}

#btn-all-clear,#btn-one-clear,#btn-percent
{
    background-color:darkgray;
}

#btn-divide,#btn-multiply,#btn-subtract,#btn-add,#btn-equal
{
    background-color: gray;
}

#btn-seven,#btn-eight,#btn-nine,#btn-four,#btn-five,#btn-six,#btn-one,#btn-two,#btn-three,#btn-zero,#btn-point
{
    background-color: orange;
}

.btn-cal{
    color: whitesmoke;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    margin: 0.1rem;
    padding: 0rem;
}

.btn-cal:hover{
    border:0.1rem solid red;
}

.btn-cal:active{
    color: red;
}

#btn-zero{
    width: 8.5rem;
}
