.text1{
    width: 6rem;
    margin: 10px;
    margin-left: 20px;
    background-color: darkslategrey;
    color: black;
}

.box1{
    margin: 10px;
    width: 460px;
    padding: 10px;
    border-style: dashed;
    border-color: darkgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box11{
    padding: 5px;
    padding-bottom: 20px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: red;
}

.box12{
    padding: 5px;
    padding-bottom: 20px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: green;
}

.box13{
    padding: 5px;
    padding-bottom: 20px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: blue;
}


.box2{
    margin: 10px;
    width: 480px;
    border-style: dashed;
    border-color: darkgray;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.box21{
    padding: 5px;
    padding-bottom: 20px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: red;
}

.box22{
    padding: 5px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: green;
}

.box23{
    padding: 5px;
    padding-bottom: 20px;
    width: 70px;
    text-align: center;
    color: white;
    background-color: blue;
}

.box3{
    margin: 10px;
    padding: 60px;
    width: 360px;
    border-style: dashed;
    border-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box31{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: red;
}

.box32{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: green;
}

.box33{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: blue;
}


.box4{
    margin: 1rem;
    height: 30rem;
    border-style: dashed;
    border-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;

}

.box41{
    margin: 1rem;
    padding: 1rem;
    height: 2rem;
    flex-basis: 4rem;
    flex-grow: 8;
    flex-shrink: 2;
    text-align: center;
    color: white;
    background-color: red;
}

.box42{
    padding: 1rem;
    padding-bottom: 3rem;
    flex-basis: 2rem;
    flex-grow: 4;
    flex-shrink: 1;
    height: 2rem;
    text-align: center;
    color: white;
    background-color: green;
}

.box43{
    margin: 1rem;
    padding: 1rem;
    flex-basis: 4rem;
    flex-grow: 8;
    flex-shrink: 2;
    height: 2rem;
    text-align: center;
    color: white;
    background-color: blue;
}

.box44{
    padding: 1rem;
    padding-bottom: 3rem;
    flex-basis: 2rem;
    flex-grow: 4;
    flex-shrink: 1;
    height: 2rem;
    text-align: center;
    color: white;
    background-color: red;
}

.box45{
    margin: 1rem;
    padding: 1rem;
    flex-basis: 4rem;
    flex-grow: 8;
    flex-shrink: 2;
    height: 2rem;
    text-align: center;
    color: white;
    background-color: green;
}

.box46{
    padding: 1rem;
    padding-bottom: 3rem;
    flex-basis: 2rem;
    flex-grow: 4;
    flex-shrink: 1;
    height: 2rem;
    text-align: center;
    color: white;
    background-color: blue;
}

/*
gjj
*/

.box5 {
    padding: 1rem;
    margin: 0.5rem 0.8rem;
    height: 20rem;
    font-size: 1rem;
    border-color: gray;
    border-style: dashed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .box5 > div {
    border-color: gray;
    border-style: double;
    padding: 2rem;
  }
  
  .box5 div:nth-child(2n) {
    background-color: red;
    flex-basis: 4rem;
    flex-grow: 20;
    flex-shrink: 0;
    height: 3rem;
  }
  
  .box5 div:nth-child(3n) {
    background-color: green;
    flex-basis: 5rem;
    flex-grow: 0;
    flex-shrink: 10;
    height: 1rem;
  }
  
  .box5 div:first-child {
    background-color: blue;
    height: 2rem;
    flex: 1 1 5rem;
  }
  
  .content2 {
    height: 260px;
    border-color: gray;
    border-style: dashed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
  }
  
  .content2 > div {
    width: 120px;
  }
  
  .content2 div:nth-child(1n) {
    height: 20px;
    flex: 0 1 100px;
  }
  
  .content2 div:nth-child(2n) {
    height: 50px;
    flex: 0 0 160px;
  }
  
  .red {
    background: orangered;
  }
  .green {
    background: yellowgreen;
    height: 20px;
  }
  .blue {
    background: steelblue;
  }
  