.bg-earth{
    position: relative;
    width: 500px;height: 500px;
    margin: 0 auto;
    background: url(images/earth.png) no-repeat center;
    background-size: 100%;
}
.pos-abl{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.bg-zhizhen{
    display: block;
    width: 262px;
    height:262px;
    margin: 119px auto;
    background: url(images/zhizhen.png) no-repeat center;
    background-size: 100%;
    -webkit-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
