html,body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

.my-body{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #212121;
    margin: 10%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem gray;
}

.my-body-hide{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #212121;
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: 0;
}

.my-h1{
    color: #827717;
    background-color: gray;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem 0 1rem 0;
    text-shadow: 0 0 1rem black;
}

.my-c1{
    color: #827717;
    background-color:#424242;
    display: flex;
    border-radius: 0 0 0.5rem 0.5rem;
    flex-direction: column;
    padding: 1rem;
}

.my-h2{
    padding: 1rem 0 1rem 0;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 1rem gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-c2{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0 0 1rem gray;
}

.my-h3{
    padding: 1rem;
    box-shadow: 0 0 1rem gray;

}

.my-c3{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: 0 0 1rem gray;

}

.my-h1:hover{
    background-color: #212121;
}

.my-h2:hover{
    background-color: #212121;
}

.my-h3:hover{
    background-color: #212121;
}

#web-head{
    width: 100%;
    align-items: center;
}

#enter-pic{
    text-align: center;
    margin: 10%;
    background-color: #424242;
    width: 80%;
}

#enter-pic:hover{
    color: white;
}

#main-containner{
    display: flex;
    flex-direction: column;
}

#content-head-containner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#content-containner{
    display: flex;
    flex-direction: row;
}

#inner-heads-containner{

    display: flex;
    flex-direction: column;

}

#inner-content-containner{
    display: flex;
    flex-direction: column;
    flex-grow: 3;

}


.btn{
    color: blue;
}

a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: #827717;
}

a:active{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: #827717;
}

a:hover{
    text-decoration: none;
    color: white;
}

a:focus{
    text-decoration: none;
}