
.myBody{
    color: floralwhite;
    background-color: black;
    font-size: 1rem;
}

.myBody > div {
    margin: 0.5rem;
    padding: 1rem;
}

.myH1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.myHeader{
    background-color: darkblue;
}

.myNavs{
    background-color:green;
    display: flex;
    flex-direction: column;
}

.myNavs > div {
    border-style: solid;
    border-width: 0.01rem;
    margin-left: 2rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.myLayoutFocus{
    background-color: blue;
}

.mySidebar{
    background-color: red;
}

.myAdvertising{
    background-color: orange;
}

.myFooter{
    background-color: purple;
}

@media (min-width: 800px){
    .myNavs{
        flex-basis: 40rem;
        flex-grow: 2;
        flex-shrink: 0.3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

@media (min-width: 1920px){
    .myBody{
        display: flex;
        flex-wrap: wrap;
    }

    .myHeader{
        flex-basis: 60rem;
        flex-grow: 2;
        flex-shrink: 0.3;
    }

    .myNavs{
        flex-basis: 40rem;
        flex-grow: 2;
        flex-shrink: 0.3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .myLayoutFocus{
        flex-basis: 30rem;
        flex-grow: 2;
    }

    .mySidebar{
        flex-basis: 10rem;
        flex-grow: 2;
    }

    .myAdvertising{
        flex-basis: 10rem;
        flex-grow: 2;
    }

    .myFooter{
        flex-basis: 30rem;
        flex-grow: 2;
    }
}

